.nav ul{
    margin: 0;
    padding: 0;
}

.nav-list ul li{
    display: inline;
}

.nav-list ul li a{
    padding: 20px 10px;
}

/*Nav Ends*/

.slider{
    height: 400px;
    background-color: #333;
}

.parallax{
    height: 450px;
    background: url(images/parallax-pic.jpg) fixed no-repeat;
    background-size: cover;
}

/*Features Row*/

.feature-text{
    padding: 50px 0; 
}

.feature-box{
    margin: 40px 0;
}

.feature-box h3{
    margin-top: 40px;
}

.feature-box img{
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    border: 5px solid #ccc;
    border-radius: 30%;
    padding: 30px;
}

.feature-box img:hover{
    border-color: indianred;
    border-radius: 50%;
}
/*Features row ends*/

/*Learn Starts*/
.learn{
    padding: 30px 0;
}

.learn-box{
    box-sizing: border-box;
    padding: 15px;
    margin: 5px 0;
    background-color: indianred;
    color: #fff;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.learn-box:hover{
    background-color: indianred;
}

/*Learn Ends*/

/*Footer*/
.footer{
    padding: 10px 0;
    background-color: black;
    color: #fff;
    text-align: center;
}


/*----------About us page--------*/

.about-wrap{
    padding: 20px 0;
}

.about-box h2{
    padding-bottom: 5px;
    color: indianred;
    border-bottom: 2px solid black;
    display: inline-block;
}

.staff{
    padding: 10px;
}

.staff-box{
     padding: 20px 0; 
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.staff-box:hover{
    background-color: #ccc;
    margin-top: 2%;
}

.staff-box img{
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid #ccc;
}

.testimonials{
    background-color: #333;
    padding-bottom: 20px;
}
    
.testimonials h2{
    background-color: indianred;
    color: #fff;
    margin: 0;
    padding: 15px;
    text-align: center;
}

.testimonial-text, .testimonial-img{
    padding: 20px;
}

.testimonial-img img{
    margin: 0;
    padding: 0;
}

.testimonial-text p{
    color: #fff;
}

/*------About Us Page Ends-------*/


/*---==-Gallery------*/

.gallery{
    padding: 30px 0;
}

.gallery-box{
    box-sizing: border-box;
    margin: 4% ;
    padding: 10px;
    border-radius: 10px;
}

.categories{
    padding-bottom: 30px;
    background-color: #333;
}

.last-added h3, .popular h3{
    padding: 8px;
    background-color: indianred;
    color: #fff;
    border-radius: 2px;
}

.last-added img{
    height: auto;
    width: 48%;
    float: left;
    margin: 4px;
}



/*---=Gallery Ends-----*/

/**/
.message h2{
    padding: 20px 0;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 2px solid indianred; 
}

form{
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
}
.contact{
    background-color: #333;
    color: #fff;
    padding-bottom: 20px;
}

textarea{
    width: 100%;
}

.btn{
    padding: 10px 30px !important;
    border: none !important;
}

.contact-details{
    padding: 30px 0;
}

.detail-box img{
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.detail-box img:hover{
    border-bottom: 4px solid #333;
    border-radius: 50%;
    transform: rotate(360deg);
}

.map{
    background-color: indianred;
    padding: 30px 0;
}
/**/