.container-fluid{
    max-width: 1250px;
    width: 100%;
}

.header{
    background-color: indianred;
}

.clear{
    clear: both;
}

.logo-sec{
    width: 30%;
    float: left;
    color: #fff;
}
.logo-sec p{
    padding-left: 20px;
    line-height: 50px;
    font-size: 1.5em;
}

.nav-sec{
    width: 70%;
    float: right;
}

.nav-sec ul{
    margin-left: 30%;    
}

.nav ul li{
    display: inline;
}

.nav li a{
    color: #fff;
    line-height: 50px;
    padding: 27px 20px;
   -webkit-transition: all 1s ease 0s;
   -moz-transition: all 1s ease 0s;
   transition: all 1s ease 0s;
}

.nav li a:hover{
    background-color: rgba(5, 5, 5, 0.3);
    text-decoration: none;
}

.nav2{
    display: none;
}
.nav2{
    width: 60%;
    margin: 10px auto;
    color: indianred;
}

.nav2 select{
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 8px;
    color: indianred;
}
@media screen and (max-width:786px){
    .logo-sec, .nav-sec{
        float: none;
        width: 100%;
        text-align: center;
    }
    
    .nav{
        display: none;
    }
    
    .nav2{
        display: block
    }
}

/*Nav Ends*/

.slider{
    background: url(images/color2.gif) no-repeat fixed;
    background-size: cover;
    height: 500px;
}

.admission{
    text-align: center;
    margin: 15% auto;
}

.admission h2{
    font-size: 5em;
    color: #fff;
    font-weight: 700;
    word-spacing: 10px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.admission h2:hover{
    transform: rotateX(360deg);
    text-decoration: underline;
}

.parallax{
    height: 450px;
    background: url(images/parallax-pic.jpg) fixed no-repeat;
    background-size: cover;
}

/*Features Row*/

.feature-text{
    padding: 50px 0; 
}

.feature-box{
    margin: 40px 0;
}

.feature-box h3{
    margin-top: 40px;
}

.feature-box img{
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    border: 5px solid #ccc;
    border-radius: 30%;
    padding: 30px;
}

.feature-box img:hover{
    border-color: indianred;
    border-radius: 50%;
}
/*Features row ends*/

/*Learn Starts*/
.learn{
    padding: 30px 0;
}

.learn-box{
    box-sizing: border-box;
    padding: 15px;
    margin: 5px 0;
    background-color: indianred;
    color: #fff;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.learn-box:hover{
    background-color: indianred;
}

/*Learn Ends*/

/*Footer*/
.footer{
    padding: 10px 0;
    background-color: black;
    color: #fff;
    text-align: center;
}


/*----------About us page--------*/

.about-wrap{
    padding: 20px 0;
}

.about-box h2{
    padding-bottom: 5px;
    color: indianred;
    border-bottom: 2px solid black;
    display: inline-block;
}

.staff{
    padding: 10px;
}

.staff-box{
     padding: 20px 0; 
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.staff-box:hover{
    background-color: #ccc;
    margin-top: 2%;
}

.staff-box img{
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid #ccc;
}

.objective-list li{
    list-style: square;
}
.objective-list li a{
    color: indianred;
    font-size: 13px;
}
.testimonials{
    background-color: #333;
    padding-bottom: 20px;
}
    
.testimonials h2{
    background-color: indianred;
    color: #fff;
    margin: 0;
    padding: 15px;
    text-align: center;
}

.testimonial-text, .testimonial-img{
    padding: 20px;
}

.testimonial-img img{
    margin: 0;
    padding: 0;
}

.testimonial-text p{
    color: #fff;
}

/*------About Us Page Ends-------*/


/*---==-Gallery------*/

.gallery{
    padding: 30px 0;
}
.gallery-box img, .gallery-box-2 img{
        opacity: 0.7;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    cursor: pointer;
}

.gallery-box img:hover, .gallery-box-2 img:hover{
    transform : skew(5deg);
    transform-origin: center;
    border-radius: 10px;
    opacity: 1;
}

.gallery-box{
    box-sizing: border-box;
    margin: 4% ;
    padding: 10px;
    border-radius: 10px;
}

.categories{
    margin-top: 30px;
    padding-bottom: 30px;
    background-color: #333;
}

.last-added h3, .popular h3{
    padding: 8px;
    background-color: indianred;
    color: #fff;
    border-radius: 2px;
}

.last-added img{
    height: auto;
    width: 48%;
    float: left;
    margin: 4px;
}



/*---=Gallery Ends-----*/

/*---Contact Page Starts----*/
.message h2{
    padding: 20px 0;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 2px solid indianred; 
}

form{
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
}
.contact{
    background-color: #333;
    color: #fff;
    padding-bottom: 20px;
}

textarea{
    width: 100%;
}

.btn{
    padding: 10px 30px !important;
    border: none !important;
}

.contact-details{
    padding: 30px 0;
}

.detail-box img{
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.detail-box img:hover{
    border-bottom: 4px solid #333;
    border-radius: 50%;
    transform: rotate(360deg);
}

.map{
    background-color: indianred;
    padding: 30px 0;
}
/*Contact Page Ends*///